## 1. 변수의 개념

변수는 **데이터를 담는 그릇**이라고 생각하시면 됩니다.

변수라는 그릇에 정수를 담을 수도 있고, 긴 글을 담을 수도 있습니다. 우리가 재사용 하기 쉽게 **별명**을 지정해 줬다라고 쉽게 생각하시기 바랍니다.

### 1-1. 변수명 작성 규칙

case 1. 알파벳 (가능) / 대소문자 모두 가능 /심지어 **한글도 가능하나 사용하는 것은 비추**!

In [440]:
a = 1

In [441]:
print(a)

1

In [442]:
A = 1

In [462]:
print(A)

1

In [444]:
변수 = 1

In [445]:
변수

1

case 2. 알파벳 + 숫자 (가능)

In [446]:
a1 = 1

case 3. 알파벳 + 언더바(_) (가능)

In [447]:
a_ = 1

case 4. 언더바(_) + 알파벳 (가능))

In [448]:
_a = 1

case 5. 숫자 + 알파벳 (불가능)

In [449]:
1a = 1

SyntaxError: invalid decimal literal (1364191551.py, line 1)

case 6. 특수문자 (불가능)

In [450]:
* = 7

SyntaxError: invalid syntax (1040641717.py, line 1)

case 7. 언더바를 제외한 특수문자 (불가능)

In [451]:
a$ = 6

SyntaxError: invalid syntax (158779158.py, line 1)

case 8. 변수의 이름 사이의 공백 (불가능)

In [452]:
a b = 6

SyntaxError: invalid syntax (3277752647.py, line 1)

주로 변수는 **소문자 알파벳으로 생성**하고, 필요시 **언더바**나 **숫자를 붙이는 방식**이 일반적입니다.

In [25]:
test = 10

In [453]:
test01 = 20

In [454]:
test_01 = 30

#

### 1-2. 변수의 출력

1. print() 구문 사이에 **값을 직접 집어 넣으면**, 바로 **값이 출력**됩니다.
2. print() 구문 사이에 **변수 이름**을 집어 넣으면, 그 **값이 출력**이 됩니다.

In [455]:
# 코드를 입력하세요
print('test')

test

In [529]:
a = 'Hello, Python!'

In [530]:
print(a)

Hello, Python!

#

## 2. Python 자료형(데이터 Type)

**자료형**

1. int(정수)
2. float(실수)
3. str(문자열) 
4. bool(참/거짓)

### **1) int(정수)**

- 소수점이 없는 숫자 자료형입니다.

In [463]:
a = 3

In [464]:
# 코드를 입력하세요
a

3

In [465]:
# 클래스를 확인합니다.
type(a)

int

### **2) float(실수)**

- 소수점이 있는 숫자 자료형입니다.

In [466]:
b = 3.0

In [468]:
# b를 출력합니다.
b

3.0

In [470]:
# 클래스를 확인합니다.
type(b)

float

### * 산술연산자 실습

In [367]:
# a와 b를 더합니다.
a+b

6.0

In [368]:
# a에서 b를 뺍니다.
a-b

0.0

In [369]:
# a와 b를 곱합니다.
a*b

9.0

In [370]:
# a를 b로 거듭제곱합니다. 
a**b

27.0

In [371]:
# a를 b로 나눕니다.
a/b

1.0

In [373]:
# a를 b로 나눈 몫을 반환합니다.
a//b

1.0

In [374]:
# a를 b로 나눈 나머지를 반환합니다.
a%b

0.0

### * 할당연산자 실습

In [499]:
# a에 정수 5를 할당합니다.
a=5

In [494]:
# a를 출력합니다.
a

5

In [500]:
a

5

In [502]:
# a에 1을 더한 값을 재할당합니다.
a+=1

In [503]:
# a를 출력합니다.
a

6

In [504]:
# a에서 2를 뺀 값을 재할당합니다.
a-=2

In [505]:
# a를 출력합니다.
a

4

In [506]:
# b에 3을 곱한 값을 재할당합니다.
b*=3

In [507]:
# b를 출력합니다.
b

9.0

In [508]:
# b를 4로 나눈 값을 b에 재할당합니다.
b/=4

In [509]:
# b를 출력합니다.
b

2.25

### * 비교연산자 실습

In [510]:
a>4

False

In [511]:
a>=4

True

In [512]:
a<4

False

In [513]:
a<=4

True

In [514]:
a==4

True

In [515]:
a!=4

False

### * 논리연산자 실습

In [516]:
# 논리곱 연산 (and)
a > 3 and b > 3

False

In [62]:
# 논리합 연산 (or)
a > 3 or b > 3

True

In [64]:
# 논리부정 연산
not a > 3

False

In [65]:
# 논리부정 연산
not b > 3

True

#

#### 연습문제 1

#

### **3) str(문자열)**

* 문자열은 문자, 숫자 등을 따옴표로 감싼 자료형입니다.

In [521]:
str1='Life is Short, '

In [523]:
str1

'Life is Short, '

In [524]:
print(str1)

Life is Short,

In [525]:
# str1의 클래스를 살펴봅니다.
type(str1)

str

In [526]:
# str1의 글자수를 반환합니다.
len(str1)

15

In [527]:
str2='you need Python!'

In [528]:
str2

'you need Python!'

#

### 3-1) 다양한 문자열 생성법

* 따옴표 사용

In [531]:
# 문자열 안에 홑따옴표를 추가하려면 문자열을 겹따옴표로 감싸주어야 합니다.
"Monty Python's flying Circus"

"Monty Python's flying Circus"

In [537]:
# 홑따옴표로 감싼 문자열 안에 홑따옴표를 이용하면 에러가 납니다.
'Monty Python's Flying Circus'

SyntaxError: unterminated string literal (detected at line 2) (2900324017.py, line 2)

* 이스케이프 문자

In [538]:
# 만약 홑따옴표를 쓰고 싶다면 역슬래시(\) 기호를 추가해야 합니다.
'I\'m saying "You need Python!" now.'

'I\'m saying "You need Python!" now.'

In [539]:
# print() 함수는 역슬래시(\)를 제외한 결과를 보여줍니다.
print('I\'m saying "You need Python!" now.')

I'm saying "You need Python!" now.

* 여러 줄 문자열(줄 바꿈)

In [540]:
# 여러 줄의 문자열을 생성하려면 홑따옴표나 겹따옴표를 세 번 감싸줍니다.
print('''Hello!
Good to see you''')

Hello!
Good to see you

In [541]:
'''Hello!
Good to see you'''

'Hello!\nGood to see you'

#

### 3-2) 문자열 연산자

In [542]:
# + 연산자는 두 문자열을 하나로 결합합니다.
str1+str2

'Life is Short, you need Python!'

In [427]:
# * 연산자는 문자열을 지정한 횟수만큼 반복합니다.
str2*3

'you need Python!you need Python!you need Python!'

In [428]:
# 멤버 연산자 in과 not in은 왼쪽 글자가 오른쪽 문자열에 포함되면 True를, 아니면 False를 반환합니다.
'a' in str1

False

In [429]:
'a' not in str1

True

#

### 3-3) 문자열 인덱싱

In [430]:
sen='파이썬 기초수업 재밌죠?'

In [431]:
# sen의 첫번째 문자(0번 인덱스)를 선택합니다.
sen[0]

'파'

In [432]:
# sen의 두번째 문자(1번 인덱스)를 선택합니다.
sen[1]

'이'

In [433]:
# sen의 1~3번째 문자를 하나씩 선택하여 하나로 결합합니다.
sen[0]+sen[1]+sen[2]

'파이썬'

#

### 3-4) 문자열 슬라이싱

In [434]:
# 기본 슬라이싱 [a:b] a 이상 b 미만
sen[0:3]

'파이썬'

In [435]:
# 클론 앞에 정수를 생략하면 '첫번째 문자부터' 선택합니다.
sen[:3]

'파이썬'

In [436]:
# 클론 뒤에 정수를 생략하면 '마지막 문자까지' 선택합니다.
sen[9:]

'재밌죠?'

In [437]:
# 끝에서 두번째 문자까지 반환됩니다.
sen[9:-1]

'재밌죠'

#

### 연습문제 2

In [545]:
# sen1에 '강의실에서 수업을 열심히 듣는다.'를 할당합니다.
sen1='강의실에서 수업을 열심히 듣는다.'

In [546]:
# sen1에서 '강의실'을 출력합니다.
sen1[0:3]

'강의실'

In [547]:
# sen1에서 '수업'을 출력합니다.
sen1[6:8]

'수업'

In [548]:
# sen1에서 '강의실에서 수업을'을 출력합니다.
sen1[:10]

'강의실에서 수업을 '

In [549]:
# sen1에서 '열심히 듣는다.'를 출력합니다.
sen1[10:]

'열심히 듣는다.'

In [550]:
# sen1에서 '강의실에서 수업을 열심히 듣는다'를 출력합니다.(마침표 없음)
sen1[:-1]

'강의실에서 수업을 열심히 듣는다'

#

### 3-5) 문자열 공백 제거 및 변경

* 문자열 공백 제거

In [552]:
# sen에 값을 할당합니다.
sen='\n 나의 살던 고향은 꽃피는 산골 \t'

In [553]:
sen

'\n 나의 살던 고향은 꽃피는 산골 \t'

In [554]:
print(sen)

 나의 살던 고향은 꽃피는 산골

In [555]:
# sen의 양쪽 공백을 제거하고 sen에 재할당합니다.
sen=sen.strip()

In [556]:
# 문자열 양쪽이 제거되었습니다.
sen

'나의 살던 고향은 꽃피는 산골'

In [557]:
print(sen)

나의 살던 고향은 꽃피는 산골

* 문자열 변경

In [111]:
# sen의 '산골'을 '공원'으로 바꾼 결과를 출력합니다.
sen.replace('산골', '공원')

'나의 살던 고향은 꽃피는 공원'

In [112]:
# sen은 값이 업데이트되지 않았으므로, '산골'이 그대로 있습니다.
sen

'나의 살던 고향은 꽃피는 산골'

#

### 3-6) 문자열 인덱스 확인

In [113]:
# count(): 문자열에 포함된 특정 문자(열) 개수를 반환합니다.
# sen에 포함된 공백 개수를 반환합니다.
sen.count(' ')

4

In [114]:
# index(): 문자열에서 특정 문자(열)이 처음 나오는 인덱스를 반환합니다.
# sen에서 공백이 처음 나오는 인덱스를 반환합니다.
sen.index(' ')

2

In [115]:
# 탐색할 범위를 설정할 수 있습니다.
sen.index(' ', 3, len(sen))

5

In [116]:
# find(): index()와 유사하지만, 문자열에 없는 문자를 입력하면 -1을 반환합니다.
sen.find('공원')

-1

In [117]:
# 참고
sen.index('공원')

ValueError: substring not found

#

#### **(참고)** 문자열 분리 및 결합

* 문자열을 구분자(seperator)로 분리하거나 결합할 수 있습니다.

In [559]:
# '은'을 기준으로 분리합니다.
sen.split('은')

['나의 살던 고향', ' 꽃피는 산골']

In [562]:
# 공백으로 분리한 결과로 strs를 생성합니다.
strs=sen.split()

In [563]:
strs

['나의', '살던', '고향은', '꽃피는', '산골']

In [564]:
# 클래스를 확인합니다.
type(strs)

list

In [565]:
# 원소 사이에 공백을 추가하여 하나의 문자열로 결합합니다.
' '.join(strs)

'나의 살던 고향은 꽃피는 산골'

In [566]:
# 원하는 구분자로 설정할 수 있습니다.
'-'.join(strs)

'나의-살던-고향은-꽃피는-산골'

#

#### 연습문제 3

In [575]:
# sen2 할당
sen2='\n팀장님이 상담실에서 고객과 대화 중이시다.\t'

In [576]:
# sen2 공백 제거
sen2=sen2.strip()

In [577]:
# sen2 출력
print(sen2)

팀장님이 상담실에서 고객과 대화 중이시다.

In [578]:
# '이' 몇번 포함되었는지 확인
sen2.count('이')

2

In [579]:
# 두번째로 나오는 '이'의 인덱스 반환
# case1
sen2.index('이',4,len(sen2))

In [ ]:
# case2
index1=sen2.index('이')

In [580]:
sen2.index('이',index1+1)

19

In [582]:
# 문자열 변경
sen2.replace('상담실','회의실')

'팀장님이 회의실에서 고객과 대화 중이시다.'

In [586]:
# 공백 기준 분리
strs2=sen2.split(' ')

In [587]:
# 클래스 확인
type(strs2)

list

In [588]:
# 원소 사이에 공백 추가하여 결합
' '.join(strs2)

'팀장님이 상담실에서 고객과 대화 중이시다.'

#

### 3-7) 원소의 형 변환

<img src="" width="400">

* (주의) 소수점이 있는 문자열은 정수로 바로 변환할 수 없고, 실수로 변환한 다음 정수로 변환해야 합니다.

In [589]:
# a에 문자열 '1.2' 할당합니다.
a='1.2'

In [590]:
# a의 클래스는 str입니다.
type(a)

str

In [591]:
# a를 실수로 형 변환하고 b에 할당합니다.
b=float(a)

In [592]:
# b의 클래스는 float입니다.
type(b)

float

In [593]:
# 소수점이 있는 문자열은 정수로 바로 변환할 수 없고, 실수로 변환한 다음 정수로 변환해야 합니다.
c=int(a)

ValueError: invalid literal for int() with base 10: '1.2'

In [594]:
# b를 정수로 형 변환하고 c에 할당합니다.
c=int(b)

In [595]:
# c의 클래스를 확인합니다.
type(c)

int

#

### 3-8) 문자열 포맷팅

* 포맷 코드 사용하여 변수 삽입

In [129]:
# 변수에 값 설정합니다.
rate=3.2

In [130]:
name='홍길동'

In [142]:
# 문자열의 %f에 rate 값을 실수로 입력합니다.
'고객님의 이자율은 %f %%입니다.' %(rate)

'고객님의 이자율은 3.200000 %입니다.'

In [143]:
# 실수의 소수점 자리를 설정합니다. 
'고객님의 이자율은 %.2f %%입니다.' %(rate)

'고객님의 이자율은 3.20 %입니다.'

In [144]:
# name과 rate의 값을 순차적으로 %s, %f에 반영합니다.
'%s 고객님의 이자율은 %.2f %%입니다.' %(name, rate)

'홍길동 고객님의 이자율은 3.20 %입니다.'

* format() 함수를 하용한 포맷팅

In [134]:
# 기본 사용번
'{} 고객님의 이자율은 {} %입니다.' .format(name, rate)

'홍길동 고객님의 이자율은 3.2 %입니다.'

In [137]:
# 인덱스 지정
'{0} 고객님의 이자율은 {1} %입니다.' .format(name, rate)

'홍길동 고객님의 이자율은 3.2 %입니다.'

In [138]:
# 소수점 자리 설정
'{0} 고객님의 이자율은 {1:.2f} %입니다.' .format(name, rate)

'홍길동 고객님의 이자율은 3.20 %입니다.'

In [139]:
# f문자열 이용(Python 3.6 도입)
f'{name} 고객님의 이자율은 {rate:.2f}%입니다.'

'홍길동 고객님의 이자율은 3.20%입니다.'

#

### **4) bool(참/거짓)**

bool은 True 또는 False를 표현하는 자료형입니다.

In [598]:
a=True

In [150]:
type(a)

bool

In [145]:
# 값이 있으면 True, 없으면 Flase로 반환합니다.
bool(1)

True

In [146]:
bool(0)

False

#

## 3. Python 자료구조(Data Structure)

자료구조

1. list(리스트)
2. Tuple(튜플)
3. Dictionary(딕셔너리)
4. Set(집합)

### 1) 리스트

In [155]:
# 빈 리스트를 생성하고 출력합니다.
a=[]; a

[]

In [153]:
# a의 클래스는 list입니다.
type(a)

list

In [154]:
# 리스트 원소 사이에 콤마로 구분하여 생성합니다.
b=[1,5,3]; b

[1, 5, 3]

In [156]:
# 리스트에 포함된 원소 개수를 반환합니다.
len(b)

3

In [158]:
# 리스트는 다양한 원소를 포함할 수 있습니다.
c=[1, 2.0, '3']; c

[1, 2.0, '3']

In [159]:
# 리스트는 다른 리스트를 원소로 포함할 수 있습니다.
d=[a, b, c]; d

[[], [1, 5, 3], [1, 2.0, '3']]

#

### 1-1) 리스트 연산자

In [163]:
# + 연산자는 두 개의 리스트를 하나로 결합합니다.
b+c

[1, 5, 3, 1, 2.0, '3']

In [164]:
# * 연산자는 리스트 원소를 지정된 횟수만큼 반복합니다.
c*2

[1, 2.0, '3', 1, 2.0, '3']

In [165]:
# 멤버 연산자 in, not in으로 어떤 값이 리스트의 원소인지 여부를 확인합니다.
1 in b

True

In [166]:
1 not in b

False

#

### 1-2) 리스트 인덱싱

In [167]:
# 리스트 인덱싱은 원소의 인덱스(위치 번호)를 지정하여 선택합니다.
a=[1,2,'3', '4', ['가', '나', '다']]

In [168]:
# a의 0번 인덱스와 1번 인덱스 원소를 더합니다.
a[0]+a[1]

3

In [169]:
# a의 2번 인덱스와 3번 인덱스 원소를 결합합니다.
a[2]+a[3]

'34'

In [172]:
# a의 4번 인덱스 원소는 리스트이므로, 대괄호를 이어서 사용하면 리스트의 개별원소를 반환합니다.
a[4][0]

'가'

#

### 1-3) 리스트 슬라이싱

In [173]:
# 기본 슬라이싱
a[0:2]

[1, 2]

In [176]:
# 시작 인덱스 생략
a[:4]

[1, 2, '3', '4']

In [177]:
# 끝 인덱스 생략
a[4:]

[['가', '나', '다']]

In [178]:
# 음수 인덱스
a[:-1]

[1, 2, '3', '4']

#

### 1-4) 이중콜론 연산자

In [179]:
a=[1,2,3,4,5,6]

In [180]:
# a의 1~4번 인덱스 원소에서 두 칸 간격인 1,3번 원소를 반환합니다.
a[1:5:2]

[2, 4]

In [182]:
# a의 처음부터 4번 인덱스 원소까지 두 칸 간격인 0,2,4번 원소를 반환합니다.
a[:5:2]

[1, 3, 5]

In [184]:
# a의 1번 인덱스부터 마지막 원소까지 두 칸 간격으로 반환합니다.
a[1::2]

[2, 4, 6]

In [186]:
# a의 처음부터 끝까지 두 칸 간격으로 반환합니다.
a[::2]

[1, 3, 5]

In [188]:
# a의 전체 원소를 역순으로 반환합니다. 내림차순 정렬이 아닙니다.
a[::-1]

[6, 5, 4, 3, 2, 1]

#

### (참고) 리스트 인덱싱 및 슬라이싱 관련 주의사항

In [189]:
# 빈 대괄호, 에러발생
a[]

SyntaxError: invalid syntax (1166193307.py, line 2)

In [190]:
# 빈 콜론, 전체 원소 반환
a[:]

[1, 2, 3, 4, 5, 6]

* 인덱싱과 슬라이싱 차이
1. 인덱스 지정하면 본래 원소 반환
2. 대괄호 안에 콜론 사용하면 항상 리스트로 반환

In [193]:
# 인덱싱, 본래 원소 반환
a[0]

1

In [194]:
# 콜론 사용, 항상 리스트로 반환
a[0:1]

[1]

#

### 연습문제 4

In [196]:
# 리스트 생성
g=[1,3,[5,'7'],'9',['ABC','2',4,6]]

In [197]:
# 단일원소 선택, '9'
g[3]

'9'

In [198]:
# 단일원소 선택, 4
g[-1][2]

4

In [199]:
# 연속원소 선택, [1,3,[5,'7'],'9']
g[:4]

[1, 3, [5, '7'], '9']

In [200]:
# 연속원소 선택, [4,6]
g[-1][2:]

[4, 6]

In [201]:
# 연속원소 선택, [3,'9']
g[1::2]

[3, '9']

In [202]:
# 역순 출력
g[::-1]

[['ABC', '2', 4, 6], '9', [5, '7'], 3, 1]

#

#### 1-5) range() 함수 사용법

range() 함수는 **0부터 입력된 정수 앞까지 연속된 정수를 반환**합니다.

In [210]:
# 0부터 4까지 연속된 정수를 a에 할당합니다.
a=range(5)

In [211]:
# a를 출력합니다.
print(a)

range(0, 5)

In [212]:
# a의 클래스는 range입니다.
type(a)

range

In [214]:
# a를 list로 변환하고 a에 재할당합니다.
a=list(a); a

[0, 1, 2, 3, 4]

In [216]:
# 정수를 두 개 입력하면, 두 숫자 사이의 연속된 정수를 반환합니다.
list(range(1,6))

[1, 2, 3, 4, 5]

In [217]:
# 정수를 세 개 입력하면, 마지막 숫자는 간격으로 설정됩니다.
list(range(1,11,2))

[1, 3, 5, 7, 9]

#

#### 1-6) 리스트 원소 추가

* append() 함수
  : 리스트에 **마지막 원소**로 어떤 값을 **추가**하려면 append() 함수를 이용합니다.

In [218]:
# a에 정수 5를 마지막 원소로 추가합니다.
a.append(5)

In [219]:
a

[0, 1, 2, 3, 4, 5]

In [220]:
# append() 함수에 리스트를 입력하면, 해당 리스트가 원소로 추가됩니다.
a.append([6,7])

In [221]:
a

[0, 1, 2, 3, 4, 5, [6, 7]]

* extend() 함수: 리스트에 **2개 이상의 원소를 동시에 추가**하려면 extend() 함수를 이용합니다.

In [224]:
# extend() 함수에 입력된 리스트 원소를 a에 추가합니다.
a.extend([8,9])

In [225]:
a

[0, 1, 2, 3, 4, 5, [6, 7], 8, 9]

* insert() 함수: 리스트의 **특정 인덱스 앞에 원소를 추가**하려면 insert() 함수를 이용합니다.

In [229]:
# a의 1번 인덱스 앞에 정수 10을 삽입합니다.
a.insert(1,10)

In [230]:
a

[0, 10, 1, 2, 3, 4, 5, [6, 7], 8, 9]

* remove(), pop() 함수: 리스트 **원소를 삭제**할 때 remove(), pop() 함수를 이용합니다.

In [231]:
# remove() 함수는 입력된 값을 (중복된 경우 맨 처음) 하나만 삭제합니다.
a.remove([6,7])

In [233]:
a

[0, 10, 1, 2, 3, 4, 5, 8, 9]

In [238]:
# pop() 함수는 입력된 인덱스의 원소를 출력하고, 해당 원소를 제거한 결과를 재할당합니다. 
a.pop(2)

1

In [239]:
a

[0, 10, 2, 3, 4, 5, 8, 9]

#

#### 1-7) 리스트 원소 변경

리스트 원소를 변경하려면 인덱스를 이용합니다.

In [240]:
# a의 0번 인덱스 원소를 정수 1로 변경합니다.
a[0]=1

In [241]:
a

[1, 10, 2, 3, 4, 5, 8, 9]

In [244]:
# a의 3~4번 인덱스 원소를 리스트 [7,6]의 원소로 변경합니다.
a[3:5]=[7,6]

In [245]:
a

[1, 10, 2, 7, 6, 5, 8, 9]

In [247]:
# a의 3번 인덱스 원소를 리스트 [4,3]으로 변경합니다.
a[3]=[4,3]

In [248]:
a

[1, 10, 2, [4, 3], 6, 5, 8, 9]

In [260]:
# 리스트가 아닌 원소로 넣고 싶다면 3번 인덱스만 슬라이스로 잘라서 변경합니다.
a[3:4]=[4,3]

In [261]:
a

[1, 10, 2, 4, 3, 6, 5, 8, 9]

In [264]:
# 슬라이스해서 리스트로 넣어줍니다.
a[3:5]=[[4,3]]

In [265]:
a

[1, 10, 2, [4, 3], 6, 5, 8, 9]

#

#### 1-8) 리스트 원소 확인

count() 함수: 리스트에 포함된 **특정 원소 개수를 세려면** count() 함수를 이용합니다.

In [267]:
# a의 원소에 1이 몇 개 있는지 확인합니다.
a.count(1)

1

In [268]:
# 리스트에 없는 원소를 입력하면 0을 반환합니다.
a.count(7)

0

index() 함수: 리스트에서 **특정 원소의 인덱스를 반환하려면** index() 함수를 이용합니다.

In [271]:
# 리스트 원소 중 1이 처음 나오는 인덱스를 반환합니다.
a.index(1)

0

In [272]:
# 리스트에 없는 원소를 입력하면 에러가 발생합니다.
# 한편, 리스트는 문자열과 다르게 find() 방식이 없습니다.
a.index(7)

ValueError: 7 is not in list

#

#### 1-9) 리스트 원소 정렬

sort() 함수: 리스트 **원소를 오름차순으로 정렬**합니다.

In [277]:
# sort() 함수는 리스트 원소의 클래스가 모두 같을 때 정상적으로 실행됩니다.
a.remove([4,3])

ValueError: list.remove(x): x not in list

In [275]:
# a의 원소를 오름차순으로 정렬합니다.
a.sort()

In [276]:
a

[1, 2, 5, 6, 8, 9, 10]

In [280]:
# 내림차순으로 정렬하려면 reverse=true 삽입해줍니다.
a.sort(reverse=True); a

[10, 9, 8, 6, 5, 2, 1]

reverse() 함수: 리스트 **원소를 역순으로 변경**합니다.

In [281]:
# reverse() 함수는 내림차순으로 정렬이 아니고, 원소의 순서를 거꾸로 뒤집는 것입니다.
a.reverse()

In [282]:
a

[1, 2, 5, 6, 8, 9, 10]

#

#### 연습문제 5

In [285]:
# 리스트 생성, 2,4,6,8,10을 원소로 갖는 리스트 h를 생성합니다.
h=[2,4,6,8,10]

In [286]:
# 정수 12를 h의 마지막 원소로 추가합니다.
h.append(12)

In [287]:
h

[2, 4, 6, 8, 10, 12]

In [307]:
# 정수 14, 16을 h의 마지막 원소로 동시에 추가합니다.
h.extend([14,16])

In [290]:
h

[2, 4, 6, 8, 10, 12, 14, 16]

In [291]:
# 정수 1을 h의 0번 인덱스 앞에 삽입합니다.
h.insert(0,1)

In [292]:
h

[1, 2, 4, 6, 8, 10, 12, 14, 16]

In [293]:
# h에서 정수 10을 삭제합니다.
h.remove(10)

In [294]:
h

[1, 2, 4, 6, 8, 12, 14, 16]

In [295]:
# h의 0번 인덱스를 삭제합니다.
h.pop(0)

1

In [296]:
h

[2, 4, 6, 8, 12, 14, 16]

In [297]:
# h의 2번 인덱스 원소를 10으로 변경합니다.
h[2]=10

In [298]:
h

[2, 4, 10, 8, 12, 14, 16]

In [300]:
# h의 전체 원소를 2번 반복합니다.
h*2

[2, 4, 10, 8, 12, 14, 16, 2, 4, 10, 8, 12, 14, 16]

In [301]:
# h의 원소를 오름차순으로 정렬합니다.
h.sort()

In [302]:
h

[2, 4, 8, 10, 12, 14, 16]

In [303]:
# h의 원소를 내림차순으로 정렬합니다.
h.sort(reverse=True)

In [304]:
h

[16, 14, 12, 10, 8, 4, 2]

In [305]:
# h의 원소를 역순으로 변경합니다. 
h.reverse()

In [306]:
h

[2, 4, 8, 10, 12, 14, 16]

#

### 2) 튜플

튜플은 리스트와 비슷하지만, 원소를 변경할 수 없다는 특징을 갖고 있습니다.

In [308]:
# 튜플 생성 및 출력, 리스트와 다른 점은 소괄호로 감싼다는 점입니다.
t=(1, 2.0, '3')

In [309]:
t

(1, 2.0, '3')

tuple(): 클래스 리스트를 튜플로 변환합니다.

list(): 클래스 튜플을 리스트로 변환합니다.

In [310]:
# 튜플에는 append가 없습니다.
t.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [312]:
# 튜플에는 remove가 없습니다.
t.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [313]:
# 튜플은 원소를 할당할 수 없습니다.
t[2]=3

TypeError: 'tuple' object does not support item assignment

#

### 3) 딕셔너리

1. **딕셔너리란?**<br>
  *딕셔너리는 키(key)와 값(value)이 콜론으로 결합된 원소를 갖는 자료구조입니다.<Br>
  <br>
2. **키의 특성**<br>
  *딕셔너리에 포함된 key는 중복을 허용하지 않습니다.<br>
  *같은 key에 value가 여러 번 할당되면, 가장 마지막에 할당된 value로 업데이트됩니다.<br>
  <br>
3. **원소 관리**<br>
  *딕셔너리의 원소를 추가, 삭제, 변경할 때는 key를 이용합니다.<br>
  *딕셔너리는 원소의 순서가 유지되지 않습니다.<br>
  *따라서 인덱스를 사용하지 못하며, 대신 key를 기준으로 value를 출력할 수 있습니다. <br>
  <br>
4. **값의 유형**<br>
  *딕셔너리의 value에는 원소, 리스트, 튜플을 할당할 수 있습니다.<br>
  *딕셔너리는 중괄호 안에 'key:value'를 콤마로 연결하거나, dict() 클래스로 생성합니다.<br>

#

#### 3-1) 딕셔너리 생성

딕셔너리를 생성하고 클래스를 확인합니다.

In [314]:
d={'item':'pants', 'size':['S','M','L','XL']}

In [315]:
d

{'item': 'pants', 'size': ['S', 'M', 'L', 'XL']}

In [316]:
type(d)

dict

dict() 클래스로 딕셔너리를 생성합니다.

In [317]:
# key를 따옴표로 감싸지 않고 콜론 대신 등호를 사용합니다.
dict(item='pants')

{'item': 'pants'}

In [318]:
# key를 따옴표로 감싸면 에러가 발생합니다.
dict('item'='pants')

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1303375034.py, line 1)

In [319]:
# 콜론을 사용하면 에러가 발생합니다.
dict(itme:'pants')

SyntaxError: invalid syntax (3530165198.py, line 2)

#

#### 3-2) 딕셔너리 원소 확인 및 선택

* 키 확인: 딕셔너리에 특정 key가 포함되어 있는지 확인합니다.

In [320]:
# 포함되어 있으면 True 반환합니다.
'item' in d

True

In [321]:
# 그렇지 않으면 False 반환합니다.
'shop' in d

False

* 값 반환: 딕셔너리의 key로 value를 반환합니다.

In [323]:
# d에서 key가 'item'인 원소의 value를 반환합니다.
d['item']

'pants'

In [324]:
# d에서 key가 'shop'인 원소의 value를 반환합니다.(에러발생)
d['shop']

KeyError: 'shop'

#

#### 3-3) 딕셔너리 원소 추가, 변경 및 삭제

딕셔너리에 원소를 추가, 변경 및 삭제합니다.

In [325]:
# d에 key가 'shop'이고, value가 'A1'인 원소를 추가합니다.
d['shop']='A1'

In [326]:
d

{'item': 'pants', 'size': ['S', 'M', 'L', 'XL'], 'shop': 'A1'}

In [327]:
# d에 key가 'item'인 원소의 value를 'skirt'로 변경합니다.
d['item']='skirt'

In [328]:
d['item']

'skirt'

In [329]:
# del 문을 이용하여 d에서 key가 'item'인 원소를 제거합니다.
del d['item']

In [330]:
d

{'size': ['S', 'M', 'L', 'XL'], 'shop': 'A1'}

#

### 4) 집합

집합은 원소의 중복을 허용하지 않고, 순서도 없는 자료구조입니다.

In [332]:
# 집합을 생성하고 출력합니다.
s={1,2,3,4}; s

{1, 2, 3, 4}

In [333]:
type(s)

set

set(): 리스트를 집합으로 변환합니다.

list(): 집합을 리스트로 변환합니다.

In [334]:
# 두 집합의 교집합을 반환합니다.
s&set(c)

{1, 2.0}

In [338]:
# 두 집합의 합집합을 반환합니다.
s|set(c)

{1, 2, 3, '3', 4}

In [340]:
# 두 집합의 차집합을 반환합니다.
s-set(c)

{3, 4}

In [342]:
c

[1, 2.0, '3']